Repository robocup-logistics/rcll-rulebook, pull requests merged in 2023-03, with the labels that each got.

#91 Update memberlist and include description of 2023 rule changes
  rulebook.tex
Labels: enhancement, vote-in-progress

#73 Add unknown machine variation to navigation challenge
  rulebook.tex
Labels: rule-change, vote-in-progress

#72 Penalize the dropping of workpieces on the field
  rulebook.tex
Labels: rule-change, vote-in-progress

#93 Update link to dataset for markerless detection
  rulebook.tex
Labels: simple-fix

#82 Rework of delivery in challenges
  rulebook.tex
Labels: rule-change, vote-in-progress
